@charset "UTF-8";

/* Das ist ein Kommentar */

/* styling by tag */

body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: lightgray;
}

h1 {
  color: deeppink;
}

h2 {
  color: blue;
}

h3 {
  color: yellow;
}

p {
  color: seagreen;
}

section {
  height: 100px;
  width: 100vw;
  margin-bottom: 5em;
}

/* styling by id */

#section1 {
  background-color: white;
}

#section2 {
  background-color: pink;
}

#section3 {
  background-color: #000000;
}

#section4 {
  background-color: rgb(0, 0, 0);
}

#section5 {
  background-color: black;
}

/* styling by class */

.klasse {
  background-color: yellow; /*!important*/
}

/* specificy/cascading order 
important > inline > id > class > tag
*/
